<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='tachyons/css/tachyons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='katex/dist/katex.css') }}">
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <nav class="pa3 pa3-ns bg-light-green">
      <a class="link dim black f6 f5-ns dib mr3 b" href="#" title="EdLAB">EdLAB</a>
      <a class="link dim black f6 f5-ns dib mr3" href="#" title="Учебные материалы">Учебные материалы</a>
      <a class="link dim black f6 f5-ns dib mr3" href="/task_list" title="Задачи">Задачи</a>
      <a class="link dim black f6 f5-ns dib mr3" href="/task/edit" title="Новая задача">Новая задача</a>
      <a class="link dim black f6 f5-ns dib mr3" href="/training" title="Тренировка">Тренировка</a>
    </nav>
    {%endblock %}

    {% block body %}
    {%endblock %}

    {% block footer %}
    <footer class="pv4 ph3 ph5-ns tc">
      <a class="link dim gray dib h2 w2 br-100 mr3 " href="#" title="EdLAB Email"><i class="fa fa-envelope"></i></a>
      <a class="link dim gray dib h2 w2 br-100 mr3 " href="#" title="EdLAB ВКонтакте"><i class="fa fa-vk"></i></a>
      <a class="link dim gray dib h2 w2 br-100 mr3 " href="#" title="EdLAB Facebook"><i class="fa fa-facebook"></i></a>
      <a class="link dim gray dib h2 w2 br-100 mr3 " href="#" title="EdLAB Instagram"><i class="fa fa-instagram"></i></a>
    </footer>
    {%endblock %}
  </body>
</html>
