{% extends "base.html" %}


{% block title %}Редактор задач{% endblock %}

{% block body %}
  <div id="content"></div>
  <script src="{{ url_for('static', filename='task_editor.js') }}"></script>
{% endblock %}
