{% extends "base.html" %}


{% block title %}Задачи{% endblock %}

{% block body %}
  <div id="content"></div>
  <script src="{{ url_for('static', filename='task_list.js') }}"></script>
{% endblock %}
